:root {
  /* Fuente principal */ 
  --fuente-principal: 'Madimi One', cursive;

  /* Sombras */
  --sombra-suave: 1px 1px 2px rgba(0,0,0,0.4);
  --sombra-media: 1px 1px 2px rgba(0,0,0,0.5);
  --sombra-fuerte: 1px 1px 2px rgba(0,0,0,0.6);
}

/* Contenedor principal del perfil */ 
.profile-container {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.4); 
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.5);
}

/* Círculo gris icono del usuario */ 
.user-circle {
  width: 80px;
  height: 80px;
  background-color: #c4c4c4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Icono de usuario */
.user-icon {
  opacity: 0.8;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

/* Título principal PERFIL */ 
.profile-title {
  font-family: var(--fuente-principal);
  font-size: 2rem;
  text-shadow: var(--sombra-suave);
}

/* Etiquetas de los campos (NOMBRE, CORREO, CONTRASEÑA) */
.form-label-custom {
  text-shadow: var(--sombra-fuerte); 
}

/* Input del nombre */
.form-input-nombre {
  background-color: rgba(255, 162, 154, 0.603);
  text-shadow: var(--sombra-media);
}

/* Input del correo  */
.form-input-correo {
  background-color: rgba(255, 200, 195, 0.598);
  text-shadow: var(--sombra-media);
}

/* Input de la contraseña */ 
.form-input-contrasena {
  background-color: rgba(255, 255, 255, 0.68);
  text-shadow: var(--sombra-media);
}
/*diseño del focus de bootstrap*/
.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(3, 125, 125, 0.5); /* color rosadito */
  border: none;
}
