.zigzag-container {
    padding: 2rem 1rem;
    min-height: 400px;
}

.zigzag-item {
    margin: 2rem 0;
    display: flex;
    transition: all 0.3s ease;
}

.zigzag-left {
    justify-content: flex-start;
    padding-left: 30%;
}

.zigzag-right {
    justify-content: flex-end;
    padding-right: 20%;
}

.circle-size {
    width: clamp(120px, 15vw, 150px);
    height: clamp(120px, 15vw, 150px);
}

.circle-size:hover {
    transform: scale(1.1);
    
}

/* Responsive */
@media (max-width: 767px) {
    .zigzag-left, .zigzag-right {
        justify-content: center;
        padding: 0;
    }
    
    .zigzag-item {
        margin: 1.5rem 0;
    }

}