.bg-fish {
    background-image: url("../assets/img/Fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-color1 {
    background-color: var(--color1);
    color: white;
}

.bg-color2 {
    background-color: var(--color2);
    color: white !important;
}

.bg-color2t {
    background-color: rgba(255, 162, 154, 0.5);
    color: white !important;
}

.bg-color3 {
    background-color: var(--color3);
    color: white;
}

.bg-color4 {
    background-color: var(--color4);
    color: white;
}

.bg-color5 {
    background-color: var(--color5);
    color: white;
}

.bg-color6 {
    background-color: var(--color6);
    color: white;
}

.bg-color7 {
    background-color: var(--color7);
    color: white;
}

.bg-color8 {
    background-color: var(--color8);
    color: white;
}